torch
torchvision
torchaudio
transformers
accelerate
bitsandbytes
flask
sentence-transformers
faiss-cpu
qwen-vl-utils
peft
evaluate
bert_score
rouge_score
sacrebleu
python-Levenshtein
scikit-learn
pandas
tabulate